---
name: Build

on:
  push:
  pull_request:

jobs:
  build-macos-x86_64:
    runs-on: macos-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install build dependencies
        run: brew install automake libtool nasm
      - name: Build native code
        run: |
          export CPPFLAGS="-I${JAVA_HOME}/include -I${JAVA_HOME}/include/darwin"
          cd libjpeg-turbo
          autoreconf -fiv
          mkdir build
          cd build
          ../configure --with-java
          make
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: configure log
          path: libjpeg-turbo/build/config.log
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-macos-x86_64
          path: libjpeg-turbo/build/.libs/libturbojpeg.dylib
          if-no-files-found: error
  build-linux-x86_64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build native code
        run: |
          docker build -f Dockerfile2010 . -t native_builder
          docker run -v $(pwd):/build --user ${UID} -t native_builder /build/linux.sh
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: configure log
          path: libjpeg-turbo/build/config.log
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-linux-x86_64
          path: libjpeg-turbo/build/.libs/libturbojpeg.so
          if-no-files-found: error
  build-linux-x86_64-2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build native code
        run: |
          ./winarm64-xcompile-on-unix.sh
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: configure log
          path: libjpeg-turbo/build/config.log
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-linux-x86_64
          path: libjpeg-turbo/build_winarm/.libs/libturbojpeg.dll
          if-no-files-found: error
  build-windows-x86_64:
    runs-on: windows-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install NASM
        uses: ilammy/setup-nasm@v1
      - name: Apply patches
        run: |
          cd libjpeg-turbo
          git apply ..\0000-msvc-2010-compat.patch
      - name: Build native code
        run: |
          cd libjpeg-turbo
          mkdir build
          cd build
          cmake -DWITH_JAVA=ON ..
          cmake --build .
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-windows-x86_64
          path: libjpeg-turbo/build/**/turbojpeg.dll
          if-no-files-found: error
  build-package:
    needs: [build-macos-x86_64, build-windows-x86_64, build-linux-x86_64]
    runs-on: ubuntu-latest
    env:
      gradle_commands: --stacktrace clean jar
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: '8'
      - name: Run commands
        run: |
          ./gradlew ${{ env.gradle_commands }}
      - name: Download artifacts from build
        uses: actions/download-artifact@v2
      - name: List artifacts
        run: ls -R
      - name: Repack jar
        run: ./jar-pack.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: libjpeg-turbo-java
          path: build/libs/*.jar
  test:
    needs: build-package
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      gradle_commands: --stacktrace clean jar
      test_commands: --stacktrace test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: '8'
      - name: Run commands
        run: |
          ./gradlew ${{ env.gradle_commands }}
      - name: Download artifacts from build
        uses: actions/download-artifact@v2
      - name: Move packed jar to build dir
        run: rm build/libs/libjpeg-turbo*.jar; mv libjpeg-turbo-java/libjpeg-turbo*.jar build/libs/
      - name: Run tests
        run: |
          ./gradlew ${{ env.test_commands }}

  release:
    if: startsWith(github.ref, 'refs/tags')
    needs: [build-package]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts from build
        uses: actions/download-artifact@v2
      - name: List artifacts
        run: ls -R
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts-macos-x86_64/*.dylib
            artifacts-linux-x86_64/*.so
            artifacts-windows-x86_64/Debug/*.dll
            libjpeg-turbo-java/*.jar
